@model BookApp.Models.Author

@{
    ViewData["Title"] = @Model.FullName;
}


<div class="text">
    <h1>Författarinformation</h1>

    <section class="author info">
        <h2>@Model.FullName</h2>
        @if (@Model.Bio != null)
        {
            <p class="bio">@Html.DisplayNameFor(model => model.Bio):</p>
            <p>@Model.Bio</p>

        }
        else
        {
            <p>Det finns ingen biografi för denna författare...</p>
        }

        <div class="ctrls">
            <a asp-action="Index" class="btn back">Se alla författare</a>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn edit">Redigera</a>
            <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn delete">Radera</a>
        </div>
    </section>


</div>