@model BookApp.Models.Book

@{
    ViewData["Title"] = "Radera";
}

<h1>Radera bok</h1>
<div class="book info">
    <p class="type">@Model.Type</p>
    <p class="title">@Model.Title</p>
    <p class="author">@Model.Author!.FullName</p>
    <p class="desc">@Model.Blurb</p>
    <p class="genre">@Model.Genre</p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn" />
    </form>
    <a asp-action="Index">Se alla böcker</a>
</div>
