@model BookApp.Models.Book

@{
    ViewData["Title"] = "Radera";
}

<div class="text">

    <h1>Ta bort bok</h1>
    <h3>Är du helt säker på att du vill ta bort denna?</h3>
    <section class="book info">
        <span class="type">@Model.Type</span> @(!string.IsNullOrEmpty(@Model.Genre) ? $"| {@Model.Genre}" : "")
        <h2 class="title">@Model.Title</h2>
        <p class="author-p">@Model.Author!.FullName</p>
        @if (@Model.Blurb != null)
        {
            <p class="desc">@Model.Blurb</p>
        }
        else
        {
            <p class="missing">Det finns ingen beskrivning...</p>
        }

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Radera" class="btn delete" />
        </form>
        <div class="ctrls">

            <a asp-action="Index" class="btn back">Se alla böcker</a>
        </div>
    </section>

</div>