@model BookApp.Models.Book

@{
    ViewData["Title"] = @Model.Title;
}

<div class="text">

    <h1>Bokinformation</h1>
    <section class="book info">
        <span class="type">@Model.Type</span> @(!string.IsNullOrEmpty(@Model.Genre) ? $"| {@Model.Genre}" : "")
        <h2 class="title">@Model.Title</h2>
        <p class="author">@Model.Author!.FullName</p>
        @if (@Model.Blurb != null)
        {
            <p class="desc">@Model.Blurb</p>
        }
        else
        {
            <p class="missing">Det finns ingen beskrivning...</p>
        }

        <div class="ctrls">
            <a asp-action="Index" class="btn back">Se alla böcker</a>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn edit">Redigera</a>
            <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn delete">Radera</a>
        </div>
    </section>

</div>