@model IEnumerable<BookApp.Models.Book>

@{
    ViewData["Title"] = "Alla böcker";
}


<div class="content">
    <h1>@ViewData["Title"]</h1>
    <a asp-action="Create" class="btn add">Lägg till bok</a>

    <div class="books">

        @foreach (var book in Model)
        {
            <article class="book">
                <h2>@book.Title</h2>
                <p class="author-p">@book.Author!.FullName</p>
                <span class="type">@book.Type</span> @(!string.IsNullOrEmpty(book.Genre) ? $"| {book.Genre}" : "")
                <div class="ctrls">
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn details">Se bok</a>
                    <a asp-action="Edit" asp-route-id="@book.Id" class="btn edit">Redigera</a>
                    <a asp-action="Delete" asp-route-id="@book.Id" class="btn delete">Radera</a>
                </div>
            </article>
        }
    </div>
</div>
